<!-- Let's django know this template wants to extend from the base_layout file -->
{% extends 'base_layout.html' %}

{% block content %}
<h1>Welcome to my Blog Post</h1>
<p>Here you will read into my jounery into the world of data science. Wish me luck.</p>
    <div class="articles">
        <!-- wring pyhton code -->
         {% for article in articles %}
            <div class="article">
                <h2><a href="#">{{article.title}}</a></h2>
                <p>{{article.snippet}}</p>
                <p>{{article.date}}</p>
            </div>
        {% endfor %}   
    </div>
{% endblock %}